
.nav{
    height: 10vh;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    padding:0 50px;
    align-items: center;
}

.dribble{
    color: #5e3aee !important;
    font-size: 1.1rem;
    padding-left:30px ;
   
}

.twitter{
    font-size: 1.1rem;
    padding-left:30px ;
   
}

.nav a{
    padding-right: 30px;
    text-decoration: none;
    color: black;
    font-family: 'PT Sans', sans-serif;
    transition: all 500ms ease;
    font-size: 1rem;
    

}

.nav a:hover{
    color: rgb(90, 90, 90);
    
    
}

.nav img{
    height: 50px;
    width: 50px;
}


.icon{
    font-size: 1rem;
    padding-left:30px ;
}
